body {
    font-family: 'Roboto', sans-serif;
    
}

img {
    max-width: 100%;
    display: block;
}


/*text styles*/

.title__text {
    font-weight: 700;
    font-size: 28px;
    border-left: solid 4px #41F6D7;
    padding-left: 12px;
}

.text--read-more {
    font-size: 16px;
    text-decoration: none;
    color: #1b1c21;
    font-weight: 500;
}

.title__button {
    font-weight: 500;
}


/*hidden elements*/

.tablet-only,
.pc-only {
    display: none;
}



/*layout*/

.container,
.content {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.flex {
    display: flex;
    flex-direction: row;
    
    
}

.header {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
    
}

.title {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 1px;
}

.content__img {
    margin-top: 1em;
}



/*header*/


.icon--menu,
.icon--repair {
    margin-left: 16px;
    margin-right: 16px;
}

.icon--logo {
    border-right: solid 2px #EAEAEA;
    padding-right: 12px;
    margin-right: 16px;
    margin-left: 0;
}

.header__left img {
    max-height: 40px;
    width: auto;
}

.header__right {
    align-items: center;
    padding-right: 16px;
}

.header__right img {
        flex: 0 0 auto;
        max-height: 40px;
    }







/*menu*/



.main-nav {
    overflow-x: auto;
    
    padding: 0.5em 0;
}

.main-nav ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 0;
    margin: 0;
    margin-left: 1em;
}

.main-nav li {
    display: inline-block;
    
}

.main-nav a,
.text--review {
    text-decoration: none;
    font-size: 16px;
    color: #7e7e82;
    white-space: nowrap;
}

.main-nav__current-page {
    border: #b8ffec 2px solid;
    background-color: white;
    width: 246px;
    height: 40px;
    padding: 5px 50px 5px 5px;
    
}


/*content*/

.img--arrows {
    margin-right: 12px;
}



/* === media Q for tablet version === */

@media (min-width: 750px) {
    .container,
    .content {
        max-width: 768px;
        margin: 0 auto;
    }

    .tablet-only {
        display: block;
    }

    /*header adjustments*/

    .header {
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 786px;
        margin: 0 auto;
        padding: 0;
        padding-top: 24px;
    }

        /*CSP logo change*/

    .icon--logo {
        border-right: none;
        border-left: solid 2px #EAEAEA;
        padding-left: 12px;
    }

    .icon--menu {
        margin: 0;
    }

        /*header icons aligment*/

    .header__right img {
        margin: 0;
    }

    .header__right,
    .header__left {
        align-items: center;
        gap: 16px;
    }

    .header__left {
        margin-left: 24px;
    }

    .header__right {
        margin-right: 24px;
    }

    .icon--repair {
        border-right: none;
        border-left: solid 2px #EAEAEA;
        padding-left: 12px;
    }


    /*navigation adjustments*/

    .main-nav ul {
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
    }


    /*content adjustments*/

   .content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 24px;
    margin: 0;
    padding: 0 16px;
    padding-bottom: 40px;
    margin-top: 24px;
   }

   .content__left {
    flex: 50%;
   }


   .content__img {
    flex: 50%;
    margin-top: 0;
   }

   .imgcps {
    height: 100%;
   }

    

    
}



/* === media Q for PC version === */

@media (min-width: 1000px) {
    .container {
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
    }

    

    


    .tablet-only {
        display: none;
    }

    .header {
        display: none;
    }

    .pc-hide {
        display: none;
    }

    .pc-only {
        display: block;
    }


    /*adjustments for new header*/

    
    .title {
        justify-content: space-between;
        align-items: center;
        padding-top: 42px;
        margin-bottom: 0;
    }
    
   
    
    .icon--repair {
        border: none;
        
    }


    .title__actions {
        display: flex;
        flex-direction: row;
        margin-right: 25px;
        gap: 8px;
    }

    .title__actions .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .title__actions p {
        margin: 0;
        padding: 0;
        margin-left: 10px;
        
    }

    .title__actions img.icon--repair,
    .title__actions img.icon--status {
        flex: 0 0 auto;
        max-height: 40px;
        margin: 0;
        vertical-align: middle;
    }




    /*content adjustments*/

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0 16px 49px 16px;
        gap: 16px;
        
    }

    .content__review {
        padding-left: 16px;
    }


    .content__row {
        display: flex;
        flex-direction: row;
        gap: 24px;
        width: 100%;
    }


    .content__left,
    .content__img {
        flex: 1 1 0;
        min-width: 0;
    }

    .imgcps {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    


}