body {
    font-family: 'Roboto', sans-serif;
    
}

img {
    max-width: 100%;
    display: block;
}


/*text styles*/

.title__text {
    font-weight: 700;
    font-size: 28px;
    border-left: solid 4px #41F6D7;
    padding-left: 12px;
}

.text--read-more {
    font-size: 16px;
    text-decoration: none;
    color: #1b1c21;
    font-weight: 500;
    
    
}





/*layout*/

.container,
.content {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.flex {
    display: flex;
    flex-direction: row;
    
    
}

.header {
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
    
}

.title {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 1px;
}

.img__content {
    margin-top: 1em;
}



/*header*/

.header__icon {
    margin-left: 16px;
    margin-right: 16px;
}

.icon--logo {
    border-right: solid 2px #EAEAEA;
    padding-right: 12px;
    margin-right: 0;
    margin-left: 0;
}

.icon--repair {
    margin-left: 20px;
}





/*menu*/



.main-nav {
    overflow-x: auto;
    
    padding: 0.5em 0;
}

.main-nav ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 0;
    margin: 0;
    margin-left: 1em;
}

.main-nav li {
    display: inline-block;
    
}

.main-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #7e7e82;
    white-space: nowrap;
}

.main-nav__current-page {
    border: #b8ffec 2px solid;
    background-color: white;
    width: 246px;
    height: 40px;
    padding: 5px 50px 5px 5px;
    
}


/*context*/

.img--arrows {
    margin-right: 12px;
}