body {
    font-family: 'Roboto', sans-serif;
    
}

img {
    max-width: 100%;
    display: block;
}


/*text styles*/

.title__text {
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 28px;
}

.content__read-more {
    font-size: 16px;
    text-decoration: none;
    color: #1b1c21;
    font-weight: 500;
    
    
}


/*header*/






/*layout*/

.container,
.content {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header {
    background-color: white;
    
}

.img__content {
    margin-top: 1em;
}







/*menu*/


.main-nav {
    overflow-x: auto;
    
    padding: 0.5em 0;
}

.main-nav ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 0;
    margin: 0;
    margin-left: 1em;
}

.main-nav li {
    display: inline-block;
    
}

.main-nav a {
    text-decoration: none;
    font-size: 16px;
    color: #7e7e82;
    white-space: nowrap;
}

.main-nav__current-page {
    border: #b8ffec 2px solid;
    background-color: white;
    width: 246px;
    height: 40px;
    padding: 5px 50px 5px 5px;
    
}